


.project-card {
  text-align: left;
  letter-spacing: 1px;
  width: 22.5rem;
  height: 12.75rem;
  margin: 1rem 1rem;
}

.solo-card {
  width: 38rem;
  height: inherit;
  /* object-fit: cover; */
  background-color: #f7f7f2;
  padding: 1.5rem;
}


img.project-solo {
  text-align: left;
  letter-spacing: 1px;
  width: 100%;
  height: inherit;
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
}

.main {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}


@media all and (max-width: 600px) {
  .solo-card {
    width: 91%;
    background-color: #f7f7f2;
    padding: 1rem;
    /* text-align: center; */
  }

  img.project-solo {
    text-align:   center;
    letter-spacing: 1px;
    width: 100%;
    height: inherit;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1rem;
  }

  img.project-card {

    width: 90%;
    height: inherit;
    /* margin: 1rem 1rem; */
  }

  .project-card {
    text-align: left;
    letter-spacing: 1px;

    margin: 1rem 1rem;
  }
}



  /* .cards.project-card {
    max-width: 90%;
    max-height: 90%;

  } */

  /* .solo-card {
    width: 90%;
    float: center;

  /* } */




h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05em;
  font-size: 18px;
  line-height: 1.5;
}
