.project-card {
	text-align: left;
	letter-spacing: 1px;
	width: 22.5rem;
	height: 12.75rem;
	margin-top: 40px;
}

.solo-card {
	width: 40rem;
	height: inherit;
	background-color: #f7f7f2;
	padding: 1.5rem;
}

img.project-solo {
	text-align: left;
	letter-spacing: 1px;
	width: 100%;
	height: inherit;
	float: left;
	vertical-align: top;
	margin-bottom: 1rem;
}

.main {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img.project-solo {
	text-align: center;
	letter-spacing: 1px;
	width: 100%;
	height: inherit;
	/* float: left; */
	/* display: inline-block; */
	vertical-align: top;
	margin-bottom: 1rem;
}

img.project-card {
	width: 90%;
	height: inherit;
	/* margin: 1rem 1rem; */
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: .05em;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0px;
}
strong {
	font-weight: 600;
}

@media all and (max-width: 770px) {
	.cards {
		grid-template-columns: 1fr;
		margin: 0 20px;
	}

	.solo-card {
		width: 91%;
		background-color: #f7f7f2;
		padding: 1rem;
		margin-top: 20px;
	}
	img.project-card {
		width: 100%;
	}
}
