.project-card {
	text-align: left;
	letter-spacing: 1px;
	width: 22.5rem;
	height: 12.75rem;
	margin-top: 40px;
}

.solo-card {
	width: 40rem;
	height: inherit;
	background-color: #f7f7f2;
	padding: 1.5rem;
}

img.project-solo {
	text-align: left;
	letter-spacing: 1px;
	width: 100%;
	height: inherit;
	float: left;
	vertical-align: top;
	margin-bottom: 1rem;
	cursor: pointer;
}

.main {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

img.project-card {
	width: 90%;
	height: inherit;
}

img.project-card:hover,
img.project-solo:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}

img.project-card.pets:hover {
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}
.icons {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	height: 50px;
	align-items: center;
}

a {
	margin: 0 10px;
}
.fas,
.fab {
	color: rgba(0, 0, 0, .2);
}

.fas:hover,
.fab:hover {
	background-color: rgba(0, 0, 0, .5);
	/* color: rgba(0, 0, 0, .3); */
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
	border-radius: 50%;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: .05em;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0px;
}
strong {
	font-weight: 600;
}
ul {
	margin-top: 0;
}

@media all and (max-width: 770px) {
	.cards {
		grid-template-columns: 1fr;
		margin: 0 20px 20px 20px;
	}
	.container {
		max-height: 100vh;
	}

	.solo-card {
		width: 91%;
		background-color: #f7f7f2;
		padding: 1rem;
		margin-top: 20px;
		margin-bottom: 18px;
	}
	img.project-card {
		width: 100%;
	}
}
