.homeLogo {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: white;
  margin-top: 280px;
  animation: move-left 2.5s infinite, rotate-right 2.5s infinite, spin 2.5s infinite;
  animation-iteration-count: 1;
animation-fill-mode:forwards;
align-items: flex-end;
display: flex;
/* justify-content: center; */
}


.swirl {
  transition: all 3s;
  transition-timing: ease-in-out;
  animation: rotation 2s;
   z-index: 2;
}

@keyframes move-left {
  0% {
    left: 0%;
  }

  100% {
    left: 50%;
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
  }
}



@media all and (max-width: 600px) {
  .swirl {
    width:80px;
    height: 80px;
    top: 30%;
  }

  .homeLogo{
    margin-top: 21.25%;
  }
    @keyframes move-left {
      0% {
        left: 0%;
      }
      100% {
        left: 39.5%;
    }
  }
}
