h2 {
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .5em;
	text-transform: uppercase;
}

#navbar a:hover {
	color: grey;
}

#navbar {
	text-align: center;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	height: 70px;
	font-size: 120px;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#navbar li {
	list-style: none;
	height: inherit;
	line-height: 170%;
	padding: 0 20px;
	display: inline-block;
}

#navbar a {
	text-decoration: none;
	color: black;
}

#navbar {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
}

@media all and (max-width: 800px) {
	#navbar {
		justify-content: space-around;
		/* margin: 20px; */
	}
}

@media all and (max-width: 600px) {
	#navbar {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		/* padding: 0; */
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
		/* margin-left: 5%;
     margin-right: 5%; */
		/* margin-bottom: 10%; */
	}
}
