* {
	box-sizing: border-box;
}

.App {
	text-align: center;
}
.container {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	position: relative;
	height: 80vh;
	width: 100vw;
	margin-top: 15vh;
	justify-content: center;
	align-items: center;
}
.aside.logo {
	cursor: pointer;
	position: fixed;
	width: 38vw;
	left: 0;
	top: 0;
	height: 100vh;
}
.main {
	width: 60vw;
	margin-left: 38vw;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	overflow: auto;
}
.swirl {
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	top: -10vh;
}
a {
	text-decoration: none;
}

/* ///////// media queries ///////// */

@media all and (min-width: 800px) {
	.main {
		flex: 2 0px;
	}
	.logo {
		order: 1;
	}
	.main {
		order: 2;
	}
	.footer {
		order: 4;
	}
}
@media all and (max-width: 770px) {
	.main {
		height: 80vh;
		/* margin-top: 160px; */
	}
}

@media (min-width: 600px) {
	.aside {
		flex: 1;
	}
	.main {
		flex: 1;
	}
	.main {
		text-align: center;
	}
	.main {
		text-align: left;
	}
}

@media all and (max-width: 600px) {
	/* .wrapper {
		margin-top: 30px;
		margin-bottom: 10%;
	} */
	.main {
		width: 100vw;
		margin: 0;
		/* margin-top: 210px; */
		/* margin-top: 21vh; */
	}

	.aside.logo {
		width: 100vw;
		z-index: 50;
		background: white;
		top: 100px;
		height: 100px;
	}
	/* .aside.logo {
		/* position: fixed; */
	/* z-index: 100;
		top: -26vh;
		left: 28vw;
		background: white;
		height: 20vh; */
	/* } */

	.swirl {
		width: 80px;
		height: 80px;
		top: 0;
	}
	/* } */
	/* @media all and (max-width: 375px) {
	.aside.logo {
		z-index: 100;
		top: -23vh;
		left: 29vw;
	/* } */
}
/* @media all and (max-width: 375px) and (max-height: 700px) {
	.aside.logo {
		top: -21vh;
	}  */
/* } */
