.App {
 text-align: center;
}



.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}


.footer {
  background: lightgreen;
}



@media all and (min-width: 600px) {
  .aside { flex: 1  }
  .main    { flex: 1  }
  .main {
    text-align: center;
  }

}
.main {
  text-align: left;
  background: deepskyblue;
}

@media all and (min-width: 800px) {
  .main    { flex: 2 0px; }
  .logo { order: 1; }
  .main    { order: 2; }
  .footer  { order: 4; }
}
