/* font-family: 'Abril Fatface', cursive;
font-family: 'Big Shoulders Text', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Ultra', serif; */

h1 {
	/* font-family: 'Esteban', serif; */
	/* font-family: 'Courier Prime', monospace; */
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 2px;

	font-size: 40px;
	line-height: .9;
}
footer a {
	margin: 0;
}
h5 {
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	letter-spacing: .5em;
	text-transform: uppercase;
	font-weight: 700;
	display: inline;
	color: black;
	text-align: left;
	line-height: 2.5;
}

h5:hover {
	color: grey;
}

.my-photo {
	border-radius: 50%;
	width: 125px;
	height: 125px;
	position: absolute;
	top: -41px;
	right: -125px;
}

.text {
	position: fixed;
	margin-top: 7.5vh;
	margin-right: 40vh;
}
@media all and (max-width: 1300px) {
	.my-photo {
		right: -125px;
	}
	.text {
		margin-right: 20vh;
	}
}

@media all and (max-width: 770px) {
	.text {
		margin: 0 50px 0 20px;
	}
	.text h3 {
		margin-top: 50px;
		font-size: 17px;
	}

	.my-photo {
		margin-top: 40px;
		margin-left: 260px;
		right: 0;
	}
	.image {
		left: 45vw;
		height: 100px;
	}
}

@media all and (max-width: 600px) {
	.my-photo {
		text-align: center;
		display: flex;
		justify-content: center;
		margin: auto;
		float: none;
		top: 0;
		right: 50px;
	}
	h3 {
		font-size: 16px;
	}

	.image {
		left: 0;
		height: 125px;
	}
	.text {
		padding-left: 5%;
		padding-right: 5%;
		text-align: left;
		width: 100%;
		position: relative;
		margin-left: 0;
		margin-top: -10px;
	}
	.text h3 {
		margin-top: 15px;
	}
}
