.homeLogo .swirl {
	display: block;
	position: absolute;
	border-radius: 50%;

	/* Animation to spin and move the sphere */
	-webkit-animation: spin 900ms linear infinite, moveLeftToRight 4.8s linear infinite;
	-moz-animation: spin 900ms linear infinite, moveLeftToRight 4.8s linear infinite;
	-ms-animation: spin 900ms linear infinite, moveLeftToRight 4.8s linear infinite;
	animation: spin 900ms linear infinite, moveLeftToRight 4.8s linear infinite;

	-webkit-transition: all 2.5s;
	transition: all 2.5s;
}

/* Spinning the sphere using key frames */

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-ms-keyframes spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* Move sphere from left to right */
@-moz-keyframes moveLeftToRight {
	0% {
		left: -120%;
	}
	50% {
		left: 100vw;
	}
	100% {
		left: -120vw;
	}
}
@-ms-keyframes moveLeftToRight {
	0% {
		left: -120%;
	}
	50% {
		left: 100vw;
	}
	100% {
		left: -120vw;
	}
}
@keyframes moveLeftToRight {
	0% {
		left: -120%;
	}
	50% {
		left: 100vw;
	}
	100% {
		left: -120vw;
	}
}
@-webkit-keyframes moveLeftToRight {
	0% {
		left: -120%;
	}
	50% {
		left: 100vw;
	}
	100% {
		left: -120vw;
	}
}

@media all and (max-width: 770px) {
	.homeLogo .swirl {
		/* animation: move-left 4.8s ease-in infinite, spin 1.5s linear infinite; */
		animation: spin 900ms linear infinite, move-left 4.8s linear infinite;
	}

	@keyframes move-left {
		0% {
			left: -120%;
		}
		50% {
			left: 90%;
		}
		100% {
			left: -120%;
		}
	}
	@-webkit-keyframes move-left {
		0% {
			left: -120%;
		}
		50% {
			left: 90%;
		}
		100% {
			left: -120%;
		}
	}
	@-moz-keyframes move-left {
		0% {
			left: -120%;
		}
		50% {
			left: 90%;
		}
		100% {
			left: -120%;
		}
	}
	@-ms-keyframes move-left {
		0% {
			left: -120%;
		}
		50% {
			left: 90%;
		}
		100% {
			left: -120%;
		}
	}
}

@media all and (max-width: 600px) {
	.homeLogo .swirl {
		position: absolute;
		width: 80px;
		height: 80px;
		animation: move-left 4.8s ease-in infinite, spin 1.5s linear infinite;
	}

	@keyframes move-left {
		0% {
			left: -130%;
		}
		50% {
			left: 80%;
		}
		100% {
			left: -130%;
		}
	}
	@-ms-keyframes move-left {
		0% {
			left: -130%;
		}
		50% {
			left: 80%;
		}
		100% {
			left: -130%;
		}
	}
	@-moz-keyframes move-left {
		0% {
			left: -130%;
		}
		50% {
			left: 80%;
		}
		100% {
			left: -130%;
		}
	}
	@-webkit-keyframes move-left {
		0% {
			left: -130%;
		}
		50% {
			left: 80%;
		}
		100% {
			left: -130%;
		}
	}
}
