h2 {
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .5em;
	text-transform: uppercase;
}

#navbar a:hover {
	color: grey;
}

#navbar {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 120px;
	width: 100%;
	height: 160px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 25;
	padding-top: 25px;
	padding-bottom: 25px;
	background: white;
}

#navbar li {
	list-style: none;
	height: inherit;
	line-height: 170%;
	padding: 0 20px;
	display: inline-block;
}

#navbar a {
	text-decoration: none;
	color: black;
}

#navbar {
	display: flex;
	flex-wrap: row wrap;
}

@media all and (max-width: 800px) {
	#navbar {
		justify-content: space-around;
		margin: 20px;
	}
}
@media all and (max-width: 770px) {
	#navbar {
		margin-left: 0;
		background: white;
		padding-bottom: 30px;
		margin: 0;
		padding-top: 20px;
		height: 120px;
	}
}
@media all and (max-width: 600px) {
	#navbar {
		flex-flow: column wrap;
		padding: 0;
		text-align: center;
		background: white;
		padding-top: 20px;
		padding-bottom: 35px;
		z-index: 1;
	}
}
